.drtable-container{
    
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.drtable-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}

.drtable-table{
   width: 100%;
 

}

.drtable-table tr{
   text-align: center;
   display: grid;
   grid-template-columns: repeat(7,1fr);
  
   gap: 0.5em;
   
}
.week-col{
    background-color: var(--bs-gray-500);
    padding: 1em;
    border-radius: 10px;
    color: var(--white);
}
.time-col{
    background-color: var(--bs-gray-500);
    padding: 1em;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.empty-col{
    background-color: var(--light-green3);
    border-radius: 15px;
}

.doctor-col{
    background-color: var(--green3);
    border-radius: 15px;
    padding: 0.5em 0;

}
.col-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.3em;
}
.col-title > span{
 display: block;
    color: var(--white);
}


@media screen and (max-width:768px) {
    .drtable-container{
    
        display: none;
       
    }
}