.nobatdehi-user-form-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 1em;
   align-items: center;
   width: 40%;
   margin: 0 auto;
   padding: 1em;
}


.nobatdehi-user-form-btn{
    padding: 0.5em !important;
    color: var(--white) !important;
    background-color: var(--green3) !important;
    font-size: 20px !important;
    border-radius: 10px !important;
    margin: 1em 0 0 0 !important;
    width: 100%;
   border: 1px solid var(--green3) !important;
}

.nobatdehi-user-form-btn:hover{
  
    color: var(--green3) !important;
    background-color: var(--white) !important;
   
   
}
