.css-1fuoxni-MuiFormControl-root{

    .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root,
    .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root,
   .css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
        right: 1.5em;
    }
    .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
        right: 1.5em;
        .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
            right: 1.5em;
            
        }
    }

    
}